*::-webkit-scrollbar{
  display:none;
}

*{
  margin: 0;
  padding: 0;
}

.body-tertiary{
  background: #12c2e9;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #f64f59, #c471ed, #12c2e9);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.navbr-border{
  border: 1px solid black;
}

.login-page{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #9796f0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fbc7d4, #9796f0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fbc7d4, #9796f0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.register-page{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("https://wallpapers.com/images/hd/4k-tech-ty39ncgwzl7k3taa.jpg");
  background-size:cover;
}

.forgot-section{
  cursor: pointer;
}

.forgot-page{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #B0E0E6
}
.reset-page{
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #B0E0E6;
  
}
.card-glass {
  background: rgba(24, 55, 212, 0.995);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(235, 11, 11, 0.1);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgb(10, 10, 10);
}
.gradient-background {
  background: linear-gradient(135deg,rgb(18, 178, 125),rgb(174, 163, 47),rgb(244, 49, 5));
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}
@keyframes gradient-animation {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.subject-section{
  height: calc(100vh - 70px);
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #CC95C0;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #7AA1D2, #DBD4B4, #CC95C0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */ 
}

.subject-Tasks{
  height: calc(100vh - 70px);
  white-space: nowrap;
  overflow:scroll;
  text-overflow: ellipsis;
  display:flex;
  flex-direction: column;
  align-items: center;
}

.mainspace{
  background: #77A1D3;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #E684AE, #79CBCA, #77A1D3);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #E684AE, #79CBCA, #77A1D3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.subject-alt{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-wrap:wrap;
}

.subject-activate{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(227,190,222,1) 48%, rgba(0,212,255,1) 100%);
}

.btn-Edit{
width: 160px;
}

.Dropdown{
  background-color: rgb(120, 211, 239);
  border: 1px solid black
}

.dashboard{
  font-size: 35px;
}

.dashboard-child{
  font-size: 30px;
}

.arr-img{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-items{
  display: flex;
  justify-content: center;
  align-items: center;
}

.card{
  width: 600px;
  border: 1px solid black;
}

.button-size{
  width: 100px;
}

.button-size2{
  width: 100px;
}

@media screen and (min-width:200px) and (max-width:739px) {
  .topbar-section-1{
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
  }
  .topbar-section-2{
      display:flex;
      justify-content: space-evenly;
  }
}
@media screen and (min-width:200px) and (max-width:664px) {
  .list-section{
      display:flex;
      flex-direction: column;
  }
}

@media only screen and (max-width: 360px) {

  .dashboard{
     font-size: 25px;
  }

  .dashboard-child{
    font-size: 20px;
  }

  .arr-img{
    height: 70px;
    width: 70px;
    margin-left: 125px;
  }

  .subject-section{
    height: calc(100vh - 100px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-items{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    width: 310px;
    border: 1px solid black;
  }

  .subject-Tasks{
    height: calc(100vh - 150px);
    white-space: nowrap;
    overflow:scroll;
    text-overflow: ellipsis;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .button-size{
    width: 100px;
  }
  
  .button-size2{
    width: 100px;
    margin-left: 50px;
  }

  .Dropdown{
    width: 50px;
  }

}

@media only screen and ((min-width: 380) or (max-width: 990px)) {

  .dashboard{
     font-size: 25px;
  }

  .dashboard-child{
    font-size: 20px;
  }

  .arr-img{
    height: 70px;
    width: 70px;
    margin-left: 125px;
  }

  .subject-section{
    height: calc(100vh - 66px);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card-items{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .card{
    width: 310px;
    border: 1px solid black;
  }

  .subject-Tasks{
    height: calc(100vh - 66px);
    white-space: nowrap;
    overflow:scroll;
    text-overflow: ellipsis;
    display:flex;
    flex-direction: column;
    align-items: center;
  }

  .button-size{
    width: 100px;
  }
  
  .button-size2{
    width: 100px;
    margin-left: 50px;
  }

  .Dropdown{
    width: 50px;

  }

}
